html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(184, 184, 184);
    font-size: 12px;
    }

body{
    background-color: rgb(184, 184, 184);
}

*, *:before, *:after {
    margin: inherit;
    padding: inherit;
}

.header-section{
    background-color: rgb(131, 131, 131);
    width: auto;
    height: 75px;
    text-align: center;
    justify-content: center;
}

h1{
    line-height: 75px !important;
    color: rgb(189, 39, 39) !important;
    font-family: 'Roboto', sans-serif !important;
}


.dns-logo{
    width: 60px;
    height: auto;
    top: 10px;
    right: 10px;
}

.body-content{
    background-color: rgb(184, 184, 184);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

.image{
    width: 200px;
    height: auto;
}

.column{
    width: 250px;
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(32, 28, 255);
    border-radius: 5px;
    float: left;
    padding: 10px;
}

.true-data{
    background-color: rgb(7, 202, 0);
}

.false-data{
    background-color: rgb(199, 2, 2);
}