<!DOCTYPE html>
<html lang="en">
<!-- Arayüz değiştiriliyor -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CP BOX</title>
</head>
<body>

    <template id="text-template">
        <div id="text-div" class="text-section-line">Beyaz led yakıldı.</div>
    </template>
    <template id="img-template">
        <img id="img" class="section-img" src="" alt="" onclick="fullscreen(this)">
    </template>

    <section id="header-section" class="header-section">
        <h1>BASKI NUMUNE KONTROL VE DOĞRULAMA</h1>
    </section>
    <section id="content-devices" class="content-devices">
        <img id="ir-camera-icon" src="../static/assets/cameraicon.png" alt="">
        <img id="colourful-camera-icon" src="../static/assets/cameraicon.png" alt="">
        <img id="usb-icon" src="../static/assets/usbicon.png" alt="">
    </section>
    <section id="body-section" class="body-section">
        <div class="settings">
            <div class="text-left">PİYASAYA SÜREN</div>
            <div class="text-right">BAYLAN MATBAACILIK PAZ. AMB. SAN. DIŞ. TİC. A.Ş.</div>
        
            <div class="text-left">ÜRÜN</div>
            <div class="text-right">BAYLAN MATBAACILIK PAZ. AMB. SAN. DIŞ. TİC. A.Ş.</div>
        
            <div class="text-left">ETİKET / AMBALAJ ÜRETİCİSİ</div>
            <div class="text-right">BAYLAN MATBAACILIK PAZ. AMB. SAN. DIŞ. TİC. A.Ş.</div>
        
            <div class="text-left">ETİKEP TİPİ</div>
            <div class="text-right">DYS Mürekkep Offset Konvansiyonel</div>

            <div class="text-left">BASKI MALZEMESİ</div>
            <div class="text-right">HEİDELBERG Ofset Baskı</div>

        </div>

        <div class="settings">
            <div class="text-left">PLANLI BAŞLANGIÇ TARİHİ - BİTİŞ TARİHİ</div>
            <div class="date-container">
                <input id="request_date" class="input-date" type="date" name="">
                <span class="text-span">-</span>
                <input id="planned_printing_date" class="input-date" type="date" name="">
            </div>
        
            <div class="text-left">İŞ ID</div>
            <div class="text-right">US00425</div>

            <div class="text-left">NUMUNE RAPOR SIRA NO</div>
            <input id="sample_report_serial_number" class="input-number" type="number" name="">

            <div class="text-left">NUMUNE KONUM</div>
            <input id="sample_location" class="input-text" type="text" name="">

            <div class="text-left">RAPOR TARİHİ VE SAATİ</div>
            <div id="date-time" class="text-right"></div>

            <div class="text-left">Etiket Tipi</div>
            <select class="type" name="type" id="type">
                <option value="barcode">Barkod</option>
                <option value="dataMatrix">Data Matrix</option>
            </select>
        </div>

        <button id="startbutton" class="btn btn-primary start" onclick="start(ws)">Başlat</button>

    </section>

    <div class="content">
        <div id="section-1-div" class="section">
            <div class="text-section-line" style="color: rgb(97, 150, 230); font-weight: 700;">MATBAA ŞAHİT KOPYASI - A NUMUNESİ</div>
            <div id="section-1"></div>
            <!-- <div id="white-led-text-1" class="text-section-line">Beyaz led yakıldı.</div>
            <img id="colourful-img-1" class="section-img" src="../static/assets/test_1/1/colourful.png" alt="">
            <div id="green-text-1" class="text-section-line">Yeşil bölgenin ortalama renk tonu tespit ediliyor.</div>
            <div id="green-text-result-1" class="text-section-line border-line">Yeşil bölgenin renk tonu : #87273h</div>

            <div id="blue-text-1" class="text-section-line">Mavi led yakılıyor.</div>
            <div id="ir-camera-text-1" class="text-section-line">Infrared kameradan görüntü alınıyor.</div>
            <img id="original-img-1" class="section-img" src="../static/assets/test_1/1/original_image.png" alt="">
            <div id="image-proc-text-1" class="text-section-line">Görüntü işleme metodları uygulanıyor</div>
            <img id="image-proc-img-1" class="section-img" src="../static/assets/test_1/1/black_white_image.png" alt="">
            <div id="logo-verification-text-1" class="text-section-line">Logo tespit ediliyor.</div>
            <img id="logo-img-1" class="section-img" src="../static/assets/test_1/1/logo.png" alt="">
            <div id="area-text-1" class="text-section-line">Alan oranları: 2129.5 / 2019.5 / 1878.5 / 6026.0</div> -->
        </div>
        <div id="section-2-div" class="section">
            <div id="section-2"></div>
            <!-- <div id="barcode-text-1" class="text-section-line">Barkod doğrulaması yapılıyor.</div>
            <img id="barcode-img-1" class="section-img" src="../static/assets/test_1/1/barcode_image.png" alt="">
            <div id="barcode-text-result-1" class="text-section-line">Okunan barkod: 000000000000</div>
            <div id="ir-led-text-1" class="text-section-line">IR led yakılıyor.</div>
            <div id="ir-camera-ir-img-text-1" class="text-section-line">Infrared kameradan görüntü alınıyor.</div>
            <img id="ir-img-1" class="section-img" src="../static/assets/test_1/1/verify_no_ink.png" alt="">
            <div id="ir-result-1" class="text-section-line">Barkod olmadığı doğrulandı.</div>

            <div id="sensor-text-1" class="text-section-line">Sensör okuması başlatılıyor.</div>
            <img id="intensities-img-1" class="section-img" src="../static/assets/test_1/1/intensities.png" alt="">
            <img id="rates-img-1" class="section-img" src="../static/assets/test_1/1/rates.png" alt=""> -->
            
        </div>
        <div id="section-3-div" class="section">
            <div class="text-section-line" style="color: rgb(97, 150, 230); font-weight: 700;">DYS ŞAHİT KOPYASI - B NUMUNESİ</div>
            <div id="section-3"></div>
            <!-- <div id="sensor-text-2" class="text-section-line">Sensör okunan değerler alınıyor.</div>
            <img id="intensities-img-2" class="section-img" src="../static/assets/test_1/2/intensities.png" alt="">
            <img id="rates-img-2" class="section-img" src="../static/assets/test_1/2/rates.png" alt="">

            <div id="white-led" class="text-section-line">Beyaz led yakıldı.</div>
            <img id="colourful-img" class="section-img" src="../static/assets/test_1/2/colourful.png" alt="">
            <div id="green-text" class="text-section-line">Yeşil bölgenin ortalama renk tonu tespit ediliyor.</div>
            <div id="green-text-result" class="text-section-line border-line">Yeşil bölgenin renk tonu : #87273h</div>

            <div id="blue-led" class="text-section-line">Mavi led yakılıyor.</div>
            <div id="ir-camera-blue-led" class="text-section-line">Infrared kameradan görüntü alınıyor.</div>
            <img id="original-img" class="section-img" src="../static/assets/test_1/2/original_image.png" alt="">
            <div class="text-section-line">Görüntü işleme metodları uygulanıyor</div> -->
        </div>
        <div id="section-4-div" class="section">
            <div id="section-4"></div>
            <!-- <img id="image-proc-img" class="section-img" src="../static/assets/test_1/2/black_white_image.png" alt="">
            <div class="text-section-line">Logo tespit ediliyor.</div>
            <img id="logo-img" class="section-img" src="../static/assets/test_1/2/logo.png" alt="">
            <div class="text-section-line">Alan oranları: 2129.5 / 2019.5 / 1878.5 / 6026.0</div>

            <div id="barcode-text" class="text-section-line">Barkod doğrulaması yapılıyor.</div>
            <img id="barcode-img" class="section-img" src="../static/assets/test_1/2/barcode_image.png" alt="">
            <div id="barcode-text-result" class="text-section-line">Okunan barkod: 000000000000</div>
            <div id="ir-led" class="text-section-line">IR led yakılıyor.</div>
            <div id="ir-camera-ir-led" class="text-section-line">Infrared kameradan görüntü alınıyor.</div>
            <img id="ir-img" class="section-img" src="../static/assets/test_1/2/verify_no_ink.png" alt="">
            <div id="ir-result" class="text-section-line">Barkod olmadığı doğrulandı.</div> -->
        </div>
    </div>

    <div id="popup" class="popup">
        <div class="popup-inner">
            <h2>Lütfen Numunelerin Yerlerini Değiştirin! </h2>
            <button id="ok"  class="ok" onclick="ok(ws)">OK</button>
        </div>
    </div>

    <div id="continuepopup" class="popup">
        <div class="popup-inner">
            <h2>Kontrol ve Doğrulama İşlemine Devam Et! </h2>
            <button id="continue" class="ok"  onclick="continueProcess(ws)">DEVAM ET</button>
        </div>
    </div>

    <div id="popupfinished" class="popup">
        <div class="popup-inner">
            <h2>İşleminiz Tamamlanmıştır! </h2>
            <button id="finished" class="ok"  onclick="finished(ws)">OK</button>
        </div>
    </div>



    
    
    
    
    
    <!-- <a href="/page_2"><input type="submit" value="click" /></a> -->


</body>
<script src="../static/websocket.js"></script>
<script src="../static/home.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>